@import "sub_style.css";
@import "sub_style1.css";
@import "sub_style2.css";
body
{
    font-family: Arial;
    margin: 0;
    padding: 25;
    background-color: #D6DBDF;
}

*
{
    box-sizing: border-box;
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}
header
{
    background-color: #85929E;
    padding: 30px;
    align-items: center;
}
header nav 
{
    text-align: center;
    padding: 5px; 
    justify-content: space-between 5px;
}
header h1 
{
    text-align: center;
    font-size: 60px;
    color:beige;
    margin: 1.5 0p;
}
header h3
{
    text-align: center;
    font-size: 60px;
    color:burlywood;
    margin: 1.5 0p; 
}
h2
{
    color: #000000;
    margin: 1,5 0px;
}
.left_col
{
    float: left;
    width: 70%;
    display: flex;
}

.card img
{
    width: 100%;
}
.right_col .card img
{
	margin-bottom: 10px;
}

.Row_so
{
    align-items: row;
    justify-content: space-around;

}
.Row_so img
{
    width: 30px;
    height: 30px;
}


/* this is for responsive for some device */
@media(max-width:800px)
{
    .left_col , .right_col
    {
        width: 100%;
        padding: 0px;
	}
}

