.but
{
    background-color: azure;
    width: 70px;
    height: 40px;
    border-radius: 15px;
    align-items: center;
    border: solid 1px ;
    border-color: white;
}
.Card
 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 30%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
/* this is for responsive for some device */
@media(max-width:800px)
{
    .left_col , .right_col
    {
        width: 100%;
        padding: 0px;
	}
}