.right_col
{
    width: 25%;
    float: right;
    padding-left:20px;
    display: flex inline-table;
}

.card
{
	padding: 20px;
	background-color: #ffffff;
    margin-top:20px;
    display: grid;
}

center img {
    width:20%; 
    height: 20%;
}